::-webkit-scrollbar {
  display: none !important;
}

* {
  scrollbar-color: auto !important;
}

/* For YouTube fix*/
#guide-inner-content.ytd-app {
  scrollbar-color: auto !important;
  scrollbar-width: auto !important;
}
